*{
    margin:0;
    padding: 0;
}

.container{
    border: 1px solid black;
    width: 75%;
    margin: 0 auto; /*centers the container*/
    text-align: center;
    /* padding: 10px -10px; */
}

.flex-box-container{
    display: flex; /*causes/activates the div to become a flexbox and any item inside it will now become a flex item*/
    flex-wrap: wrap;
    justify-content: space-around;
    padding:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.flex-box-container img{
    margin: 10px;
    /* border: 1px solid green; */
    /* padding-bottom:2px rgba(0,0,0,0.2); */
    box-shadow: 0px 10px 50px rgba(0,0,0,0.7);
}